@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --global-header-background: #051829;
  --global-header-text: #ffffff;
  --global-button-background: hsl(191.64deg 89.33% 14.71%);
  --global-button-border: hsl(15deg 76.47% 86.67%);
  --index-hero-background: hsl(175.86deg 14.43% 39.41%);
  --index-hero-border: #f4e4c1;
  --index-about-background: #051829;
  --global-page-max-size: 3000px;
  --global-page-mix-size: 350px;

  --global-content-max-size: 1600px;

  --global-text-title: "Indie Flower", cursive;
  --global-text-text: "Merriweather", serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}
