.header__main {
  background: linear-gradient(
    to left,
    rgba(254, 249, 249, 0.119),
    rgb(40, 118, 130)
  );
  display: flex;
  flex-direction: column;
}

.header__main-text {
  padding-top: 5px;
  padding-bottom: 8px;
  .text-text {
    font-family: "Shadows Into Light", cursive;
    font-size: 22px;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-align: center;
  }
}

.header__main-menu {
  display: flex;
  justify-content: space-around;
  flex: 1;
  align-items: center;
  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    margin-top: 5px;
    .menu-list-item {
      padding: 2px;
    }
  }
}

.item-link {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  font-style: normal;
  color: rgb(255, 255, 255);
}

@media (min-width: 320px) {
  .header__main {
    flex-direction: row;
    .menu-list {
      text-align: center;
    }
  }
}
@media (min-width: 500px) {
  .header__main {
    .menu-list {
      flex-direction: row;
      text-align: center;
    }
  }
}
