.hero__main-all {
  position: relative;
  text-align: center;
}

.all-text {
  font-family: "Shadows Into Light", cursive;
  font-size: 5vw;
  font-style: normal;
  color: rgb(251, 161, 51);
  text-shadow: 0 0 3px rgb(0, 0, 0);
  text-align: left;
  position: absolute;
  left: 8%;
  top: 7%;
  width: 30%;
}
