*,
*::before,
*::after {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  
}

:root {
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

body {
  display: flex;
  background-color: rgb(61, 136, 165);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
