@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --global-header-background: #051829;
  --global-header-text: #ffffff;
  --global-button-background: hsl(191.64deg 89.33% 14.71%);
  --global-button-border: hsl(15deg 76.47% 86.67%);

  --global-page-max-size: 3000px;
  --global-page-mix-size: 350px;

  --global-content-max-size: 1600px;

  --global-text-title: "Indie Flower", cursive;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}
