.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: var(--global-page-mix-size);
}

.about__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--global-page-max-size);
  background-image: url("../img/textures/wood-light.jpeg");
  background-size: cover;
  background-position: center;
}

.about__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--global-content-max-size);
  background-color: var(--global-box-smooth);
}

.about__content {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px 45px 15px;
  gap: 15px;
}

.about__content {
  .content-image {
    .text-text {
      font-family: var(--global-text-text);
      font-weight: 100;
      font-style: normal;
      font-size: 40px;
      color: var(--global-header-text);
    }
  }
}
.about__content {
  .content-image {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }
}

.about__content {
  .content-image {
    .image-box {
      .image-image {
        object-fit: cover;
        width: 100%;
        max-width: 200px;
      }
    }
  }
}

.about__title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 15px;
  background-color: #13211d;
}

.about__title {
  .title-text {
    font-family: var(--global-text-text);
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    color: var(--global-header-text);
  }
}

.about__content {
  .content-text {
    .text-text {
      font-family: var(--global-text-text);
      font-weight: 400;
      font-style: normal;
      text-align: center;
      font-size: 25px;
      color: var(--global-header-text);
    }
  }
}
@media (min-width: 500px) {
  .about__content {
    .content-image {
      flex-direction: row;
    }
  }
  .about__content {
    .content-image {
      column-gap: 50px;
    }
  }
}
