<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScoobyDoo</title>
  </head>
  <body>
    <header>
      <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="htmls/global/global.header-nav.html"></nav>
      <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="htmls/global/global.header-hero.html"></nav>
    </header>
    <main></main>
    <footer></footer>
    <script src="https://unpkg.com/html-data-include@3.3.3/html-data-include.js"></script>
  </body>
</html>
